body{
  background:#789267;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #096d17;
  border-color: #157e07;
}
.navbar-default .navbar-brand {
  color: #c9e9e2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bbffd7;
}
.navbar-default .navbar-text {
  color: #ecf1f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bbffd7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b8e4b4;
  background-color: #0b720b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #bbffbb;
  background-color: #0c7a1e;
}
.navbar-default .navbar-toggle {
  border-color: #088308;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1c830e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf1ee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf1f0;
}
.navbar-default .navbar-link {
  color: #ecf1ef;
}
.navbar-default .navbar-link:hover {
  color: #bbffbe;
}

/* Custom */
.main-color-bg{
  background-color: #086108 !important;
  border-color: #23880a !important;
  color:#e4adad !important;
}

/* Header */
#header{
  background:#333333;
  color:#93b68f;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#a37b7b;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
  background:#333333;
  color:#d49696;
  text-align:center;
  padding:30px;
  margin-top:30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf1ed;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbffbe;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bbffbb;
    background-color: #217e0e;
  }
}
