{% extends "orders/main.html" %}

{% block content %}


    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Warehouse Admin <small></small></h1>
          </div>
          <div class="col-md-2">
            <div class="dropdown create">
              <a type="button" class="btn btn-success" href="{% url 'order-create' %}">Create Order</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Website Overview -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <span class="badge badge-primary">All {{ new_orders }}</span>
                <span class="badge badge-primary">Monday {{ monday_orders }}</span>
                <span class="badge badge-primary">Tuesday {{ tuesday_orders }}</span>
                <span class="badge badge-primary">Wednesday {{ wednesday_orders }}</span>
                <span class="badge badge-primary">Thursday {{ thursday_orders }}</span>
                <span class="badge badge-primary">Friday {{ friday_orders }}</span>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Unstaged Orders</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                      <div class="col-md-12">
                        <div class="card card-body">
                          <form method "GET">
                            {{ myFilter.form }}
                            <button class="btn btn-success" type="submit">Search</button>
                          </form>
                        </div>
                      </div>
                </div>
                <br>
                <table class="table table-striped table-hover">
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Phone</th>
                    <th>Type</th>
                    <th>Details</th>
                    <th>Stage</th>
                    <th>Status</th>
                    <th>Delivery Day</th>
                    <th>Run</th>
                  </tr>

                  {% for order in orders %}
                    <tr>
                      <td>{{ order.recipient.full_name}}</td>
                      <td>{{ order.delivery_address.address_line}}</td>
                      <td>{{ order.delivery_address.post_code}}</td>
                      <td>{{ order.recipient.phone }}</td>
                      <td>{{ order.product}}</td>
                      <td><a class="btn btn-default" href="{% url 'order-details' order.id %}">Details</a></td>
                      <td><a class="btn btn-default" href="{% url 'order-update' order.id %}">Stage</a></td>
                      <td>{{ order.status }}</td>
                      <td>{{ order.delivery_day }}</td>
                      <td>{{ order.run }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <div id="map"></div>

{% endblock %}

{% block script %}
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 55.950540, lng: -3.199841},
      zoom: 13
    });
    
    {% for order in orders %}
    new google.maps.Marker({
      position: { lat: {{ order.delivery_address.latitude }}, lng: {{ order.delivery_address.longitude }} },
      map,
      label: "{{ order.delivery_address.address_line }} - {{ order.delivery_address.recipient }}",
    });
    {% endfor %}
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}&callback=initMap"
async defer></script>

{% endblock script %}

