{% extends "orders/main.html" %}

{% block content %}


    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Order Details <small></small></h1>
          </div>
          <!--if user is admin:-->
          <div class="col-md-2">
            <div class="dropdown create">
              <a type="button" class="btn btn-success" href="{% url 'referrer' %}">Back >></a>
            </div>

          </div>
        </div>
      </div>
    </header>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Order</h3>
                            
                            <a class="btn btn-danger" href="{% url 'order-delete' order_details.id %}">Delete</a>
                          {% if request.user.is_superuser %}
                            <a class="btn btn-success" href="{% url 'order-update' order_details.id %}">Update</a>
                          {% endif %}

                        </div>
                        <div class="panel-body">
                            
                            <h3 class="panel-title">Referrer Details:</h3>
                            <br>
                            <ul>
                                <li class="list-group-item">Refered by: {{ order_details.referrer.name}} {{ order_details.referrer.surname}}</li>
                                <li class="list-group-item">Phone: {{ order_details.referrer.phone}}</li>
                                <li class="list-group-item">Occupation: {{ order_details.referrer.occupation }}</li>
                                <li class="list-group-item">Institution: {{ order_details.referrer.institution }}</li>
                            </ul>
                            <br>
                            <h3 class="panel-title">Recipient Details:</h3>
                            <br>
                            <ul>
                                <li class="list-group-item">Recipient Name: {{ order_details.recipient.full_name}} </li>
                                <li class="list-group-item">Delivery Address: {{ order_details.delivery_address.address_line}}</li>
                                <li class="list-group-item">Postcode: {{ order_details.delivery_address.post_code}}</li>
                                <li class="list-group-item">Phone: {{ order_details.recipient.phone }}</li>
                                <li class="list-group-item">Email: {{ order_details.recipient.email }}</li>
                                <li class="list-group-item">Directions: {{ order_details.delivery_address.directions }}</li>
                            </ul>
                            <br>
                            <h3 class="panel-title">Order Details:</h3>
                            <br>
                            <ul>
                                <li class="list-group-item">Date Created: {{ order_details.date_created }}</li>
                                <li class="list-group-item">Product Name: {{ order_details.product.name }}</li>
                                <li class="list-group-item">Order Comments: {{ order_details.comments }}</li>
                                <li class="list-group-item">Price: {{ order_details.product.price }}</li>
                                <li class="list-group-item">Product Description: {{ order_details.product.description }}</li>
                                <li class="list-group-item">Product Category: {{ order_details.product.category }}</li>
                                <li class="list-group-item">Product Tag: {{ order_details.product.product_tag.name }}</li>
                            </ul>
                            <br>
                            <h3 class="panel-title">Delivery Details:</h3>
                            <br>
                            <ul>
                                <li class="list-group-item">Delivery Day: {{ order_details.delivery_day }}</li>
                                <li class="list-group-item">Run no: {{ order_details.run }}</li>
                                <li class="list-group-item">Order Status: {{ order_details.status }}</li>
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}